# The following config will update the A record for home.domain.tld
SCALEWAYDDNS_SECRET_KEY=''
SCALEWAYDDNS_DOMAIN_NAME='domain.tld'
SCALEWAYDDNS_RECORD_TYPE='A'
SCALEWAYDDNS_RECORD_NAME='home'
SCALEWAYDDNS_NS_QUERY='1.1.1.1'
