# The following config will update the A record for home.domain.tld
SCALEWAYDDNS_SECRET_KEY=''
SCALEWAYDDNS_DOMAIN_NAME='karlsen.fr'
SCALEWAYDDNS_RECORD_TYPE='A'
SCALEWAYDDNS_RECORD_NAME=
SCALEWAYDDNS_RECORD_VALUE="$(ip -4 addr show dev enp1s0 | grep -Eo '([[:digit:]]{1,3}\.){3}[[:digit:]]{1,3}' | sed 1q)"
